


html, body{
    height: 100%;
    user-select: none;
}
body{
    margin: 0;
}


.main {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(62, 83, 75);
}
.calc {
    width: 400px;
    border-radius: 10px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    height: 490px;
    background-color: rgb(27, 27, 27);

		&__block {
            
            width: 100%;
            height: 100px;
            background-color: black;
            color: white;
            font-family: sans-serif;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 60px;
            
            
		}

        &__text{
            
            width: 92%;
        }

      

		&__buttons {
            
           position: relative;
           bottom: 8px;
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            
		}
}
.button {
    color: white;
    background-color: black;
    width: 23%;
    height: 70px;
    font-size: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 100;
    font-family: sans-serif;
    margin: 2px;
    border-radius: 6px;
    
}

.button:active{
    background-color: rgb(165, 165, 165);
}
